.title{
    margin-left: 20px;
    font-size: 22px;
    color:  #666666;
}
.notice{
    color: red;
    /* display: none; */
    font-size: 13px;

}

.enter{
    margin: 10px auto 10px auto;
    box-sizing: content-box;
    padding: 15px;
    border-radius: 6px;
    background-color: white;
}

#file, #send{
    visibility: hidden;
}
.activity_photo{
    border: none;
}

.photo {
    margin: 0 auto 0 auto;
    border-radius: 6px;
    width: 180px;
    height: 180px;
    background-color: #bebebe;
}

.activity_photo div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 6px;
}

#gathername, #gathernumber{
    width: 100%;
    border: none;
    outline: none;
    border-bottom:1px solid #bebebe;
    border-radius: 0px;
    color: black;
    font-size: 16px;
}

#story{
    box-sizing: border-box;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    height: 80px;
    border-radius: 6px;
    border:1px solid #bebebe;
}

#story:focus {
	outline: none;
  	border: 1px solid #f6d819;
}


.enter .search{
    display: none;
    margin-top: 20px;
    align-items: center;
    gap: 0px;
    width: 100%;
}


#location{
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    padding: 10px;
    outline: none;
    border: 1px solid #BEBEBE;
    border-radius: 6px;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

#location:hover {
	outline: none;
  	border: 1px solid #f6d819;
}
    
#map{
    display: none;
    width: 500px;
    height: 300px;
}

.wholetime{
    display: flex;
    justify-items: center;
    align-items: center;
}



.when{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 8px;
    color: #bebebe;
    border: 1px solid #bebebe;
    outline:0px;
    border-radius: 6px;
    font-size: 16px;
}


select{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 8px;
    border: 1px solid #bebebe;
    outline:0px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

option[value=""]{
    color: #bebebe;;
}


.acti_view{
    position: relative;
    bottom:0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}

.check{
    color: white;
}
.view{
    display: none;
    width: 200px;
    height: 100%;
    border-radius: 10px;
    background-color: #f6d819;
    color: white;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.backToEdit{
    display: none;
    width: 200px;
    height: 100%;
    border-radius: 10px;
    background-color: #f6d819;
    color: white;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-filter:brightness(1.5);
}

.confirm{
    display: none;
    width: 200px;
    height: 100%;
    border-radius: 10px;
    background-color: #f6d819;
    color: white;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-filter:brightness(1.5);
}


.preview{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #f6d819;
    opacity: 0.1;
    z-index: 1;
}

.success, .fail{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 3;
}

.section{
    margin: 100px auto auto auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width:320px;
    height: 250px;
    border-radius: 10px;
}

.success .section{
    border: 3px solid  lightseagreen;;
}

.fail .section{
    border: 3px solid  #cd5c5c
}
.tn{
    text-align:center;
    width: 200px;
    font-size: x-large;
}

.success .section .tn{
    color: lightseagreen;
}

.fail .section .tn{
    color: #cd5c5c;
}

.word{
    text-align:center;
    width: 200px;
    font-size: xxx-large;
    font-weight: 700;
}

.success .section .word{
    color: lightseagreen;
}

.fail .section .word{
    color: #cd5c5c;
}

.close{
    text-align:center;
    width: 120px;
    color: white;
    font-size: x-large;
    border-radius: 20px;
    cursor: pointer;
}

.success .section .close{
    background-color: lightseagreen;
}

.fail .section .close{
    background-color: #cd5c5c;
}



@media (max-width:600px){
    #form{
        margin-top: 20px;
    }
    .backToEdit{
        width: 130px;
    }
    .confirm{
        width: 130px;
    }

}