.leftrows{
    margin:0 auto;
    width: 100%;
}

.filter{
    width: 95%;
    height: 60px;
    display: flex;
    overflow-x: auto;
    gap:30px;
}
.filter::-webkit-scrollbar{
    width: 0px;
    height: 2px;
}

.filter .choose{
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choosePeriod{
    min-width: 150px;
    display: none;
    justify-content: center;
    align-items: center;
}

.choosePeriod button{
    width: 100%;
    box-sizing: border-box;
    height: 46px;
    padding: 20px;
    border: 0px;
    outline:0px;
    border-radius: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    background: rgb(246, 247, 248);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

select{
    box-sizing: border-box;
    width: 100%;
    height: 46px;
    padding: 8px;
    border: 0px;
    outline:0px;
    border-radius: 20px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    background: rgb(246, 247, 248);
    cursor: pointer;
}
.selectChange{
    background:   #26619c;
    color: white;
}

.refresh button{
    background-color: transparent; 
    border: none;
    padding: 0;
    color: #26619c;
    cursor: pointer;
    font-size:medium;
}


select option{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: gray;
    background-color: white;
}

.result{

}

.has_calender{
    position: relative;
    top:-300px;
}

.event{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 165px;
    border-top: 2px solid #BEBEBE;
    cursor: pointer;
}

.event_in{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 15px;
}

.picture{
    height: 160px;
}

.picture img{
    object-fit: cover;
    width: 100%;
    height: 100%;

    border-radius: 10px;
}

.section{
    width: 100%;
}

.section div{
    margin-bottom: 7px;
}

.time{
    color: #B87333;
    font-size: 16px;
    font-weight: 700;    
}
.title{
    font-size: 18px;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.host{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.lastRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items{
    width: 100px;
    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: center;

}
.items div{
    width: 25px;
    height: 25px; 
    cursor: pointer;
}

.items div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.page{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}

.page .former:hover, .page .next:hover{
    cursor: pointer;
    opacity: 0.6;
}


#resultLoading{
    width: 100px;
    height: 100px;
    margin: 40px auto auto auto;
    display: none;
}


#nofound{
    margin: 60px auto 0 auto;
    width: 320px;
    height: 265px;
}

#nofound img, #resultLoading img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


@media (max-width:780px){
    .leftrows{
        width: 95%;
    }
    .filter{
        width: 95%;
        height: 50px;
        gap:10px;
    }
    .filter .choose{
        margin-right: 5px;
    }
    .refresh button{
        font-size: 13px;
        font-weight: 300;
    }
    .choosePeriod{
        font-size: 13px;
        font-weight: 300;
    }
    .choosePeriod button span{
        font-size: 13px;
        font-weight: 300;
    } 

    select{
        font-size: 13px;
        font-weight: 300;
    }
    select option{
        font-size: 13px;
        font-weight: 300;
    }
    .event{
        /* width: 95%; */
    }
    .event_in{
        grid-template-columns: 30% 1fr;
    }

    .picture{
        height: 100px;
    }
    .section div{
        margin-bottom: 3px;
    }
    .time{
        font-size: 13px;
        font-weight: 500;
    }

    .title{
        font-size: 13px;
        font-weight: 500;
        -webkit-line-clamp: 3;
    }
    
    .host{
        font-size: 13px;
        font-weight: 300;
    }
    
    .lastRow{
        font-size: 13px;
        font-weight: 300;
    }
    .items div{
        width: 16px;
        height: 16px; 
    }
    .page{
        font-size: 13px;
    }


}