{% extends 'base.html' %}


{% block link%}
<link rel="stylesheet"  type= "text/css" href="/static/css/find.css?v=0.0.243">
<link rel="stylesheet" type= "text/css" href="/static/css/calender_find.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
{% endblock link%}

{% block title%}
<title>Meetgather - Find events</title>
{% endblock title%}



{% block content%}
<div class="leftrows">

    <div class="filter">

        <div class="choosePeriod">
            <button><span>起訖時段</span></button>

        </div>
        
        <div class="choose">
            <select name="date"  id = "selectdate">
            <option value="">--任何時段--</option>
            <option value="0">今天</option>
            <option value="1">明天</option>
            <option value="2">自選時段</option>
            </select>
        </div>

        <div class="choose">
            <select name="category" id ="selectcategory">
            <option value="">--任何類別--</option>
            <option value="0">商業投資</option>
            <option value="1">科技</option>
            <option value="2">體驗學習</option>
            <option value="3">外語</option>
            <option value="4">影音藝術</option>
            <option value="5">遊戲</option>
            <option value="6">美容時尚</option>
            <option value="7">命理心靈</option>
            <option value="8">戶外旅遊</option>
            <option value="9">運動健身</option>
            <option value="10">美食美酒</option>
            <option value="11">唱歌派對</option>
            <option value="12">社交</option>
            <option value="13">其他</option>
            </select>
        </div>
    
        <div class="choose">
            <select name="city" id="selectcity">
                <option value="">--任何地點--</option>
                <option value="online">線上</option>
                <option value="0">基隆市</option>
                <option value="1">臺北市</option>
                <option value="2">新北市</option>
                <option value="3">桃園市</option>
                <option value="4">新竹市</option>
                <option value="5">新竹縣</option>
                <option value="6">苗栗縣</option>
                <option value="7">臺中市</option>
                <option value="8">彰化縣</option>
                <option value="9">南投縣</option>
                <option value="10">雲林縣</option>
                <option value="11">嘉義市</option>
                <option value="12">嘉義縣</option>
                <option value="13">臺南市</option>
                <option value="14">高雄市</option>
                <option value="15">屏東縣</option>
                <option value="16">宜蘭縣</option>
                <option value="17">花蓮縣</option>
                <option value="18">臺東縣</option>
                <option value="19">澎湖縣</option>
                <option value="20">金門縣</option>
                <option value="21">連江縣</option>
            </select>
    
        </div>
    
        <div class="choose">
            <select name="sort" class="selectChange"  id ="selectsort">
                <option value="0" >排序 : 時間</option>
                <option value="1">排序 : 熱門</option>
            </select>    
        </div>
    
        <div class="refresh choose"><button>刷新篩選器</button></div>
        

    </div>

    <div class="calender">
        <div class="month">
            <i class="fas fa-angle-left prev "></i>
            <div class="date">
                <h1></h1>
                <p></p>
            </div>
            <i class="fas fa-angle-right next"></i>
        </div>
        <div class="weekdays">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thr</div>
            <div>Fri</div>
            <div>Sat</div>
        </div>
        <div class="days"></div>
    </div> 


    <div id="resultLoading"><img src= '/static/img/loading.gif'/></div>

    {% if items.result != [] %}
    <div class="result">
        {% for I, item in zip(date,items.result) %}
        <div class="event">
            <div class="event_in" data-id="{{item[7]}}">
                <div class="picture"><img src = "{{item[21]}}"></div>
                <div class="section">
                    <div class="time">{{I}}</div>
                    <div class="title">{{item[9]}}</div>
                    <div class="host">{{item[2]}}<span> | {{item[14]}}</span></div>

                    <div class="lastRow">
                        <div class="attendee"><span>{{item[13]}}</span>人參加</div>
                        <div class="items">
                            <div class="share"><img src = "https://d3i2i3wop7mzlm.cloudfront.net/meetgather/share.png"/></div>
                            <div class="fav"><img src = "https://d3i2i3wop7mzlm.cloudfront.net/meetgather/favorite1.png"/></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        {% endfor%}

   
    </div>
    <div class="page">
        <div>
        <span class="former"><</span>
        <span class="curentPage">{{page}}</span>
        <span>/</span>
        <span class="totalPage">{{totalpage}}</span>
        <span class="next">></span>
        </div>
    </div> 

    {% else %}
    <div id = "nofound"><img src= '/static/img/nofound2.png'/></div>
    {% endif %}

 
</div> 
{% endblock content%}



{% block script %}
<script type="text/javascript" src="/static/js/calender_find.js"></script>
<script type="text/javascript" src="/static/js/find.js?"></script>
{% endblock  script%}
</body>
</html>