<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meetgather - Join activity</title>
    <link rel="shortcut icon" type="image/jpg" href="https://d3i2i3wop7mzlm.cloudfront.net/meetgather/webIcon.png">
    <link href="/static/css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>


<div class="overlay"><div><img src="https://d3i2i3wop7mzlm.cloudfront.net/meetgather/loading.gif"/></div></div>

<div class="box0">
    <div class="box0_contain">
            <div class="website">
                <a href="/">Meetgather</a>
            </div>

            <div class="frame1">
                <span class='earth opc'> <img src='/static/img/earth.svg'/><span>English</span></span>
                <span class ='login opc'>登入</span>
            </div>
            <div class="fr2">
                <div class="frame2">
                    <span class='earth opc'> <img src='/static/img/earth.svg'/><span>English</span></span>
                    <span class ='message opc'> <img src='/static/img/message.svg'/></span>
                    <span class ='alarm opc'> <img src='/static/img/alarm.svg'/></span>
                    <span class ='shot opc'><img referrerpolicy="no-referrer"></img></span>
                </div>
                <div class="myinfo" style="display: none;">
                    <div>
                        <div class="0 opc">你的活動</div>
                        <div class="1 opc">建立活動</div>
                        <div class="2 opc">個人檔案</div>
                        <div class="3 opc logoutA">登出</div>
                    </div>
                </div>
            </div>
    </div>
</div>


<div class="wrapper">
    <div class="content">
        <div class="box2">
            <div class="slogan_en" style="display: none;">Enrich your life</div>
            <div class="slogan_cn" style="display: block;"> <div>多彩體驗</div><div>豐富生活</div></div>
            <div class="searchInput">
            <input type="text" id='keyword' placeholder="輸入活動關鍵字"/>
            </div>
            <div class="searchBar"><div>搜 尋</div></div> 
        </div>
    </div>  
    </div>

<div class = 'footer'><div>© COPYRIGHT <span class="year"></span> PamelaLin</div></div> 

<script type="text/javascript" src='/static/js/index.js'></script>
</body>
</html>