<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meetgather</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://d3i2i3wop7mzlm.cloudfront.net/meetgather/html/webicon225.png"
    />
    <link href="/static/css/index.css" rel="stylesheet" type="text/css" />

    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://d3i2i3wop7mzlm.cloudfront.net/meetgather/html/webicon225.png"
    />
    <meta property="og:title" content="Meetgather" />
    <meta property="og:description" content="Join activity" />
  </head>
  <body>
    <div class="overlay">
      <div>
        <img
          src="https://d3i2i3wop7mzlm.cloudfront.net/meetgather/html/sunLoader.gif"
        />
      </div>
    </div>

    <div class="modal5"></div>
    <div class="window5">
      <div class="popup5Load">
        <img
          src="https://d3i2i3wop7mzlm.cloudfront.net/meetgather/html/circleYellowLoader.gif"
        />
      </div>
      <div class="popup5"></div>
    </div>

    <div class="box0">
      <div class="box0_contain">
        <div class="website">
          <a href="/">Meetgather</a>
        </div>
        <div class="frame1">
          <span class="earth opc">
            <img
              src="https://d3i2i3wop7mzlm.cloudfront.net/meetgather/html/earth.svg" /><span
              class="lang"
              key="i18n"
            ></span
          ></span>
          <span class="login opc lang" key="login"></span>
        </div>
        <div class="fr2">
          <div class="frame2">
            <span class="earth opc">
              <img
                src="https://d3i2i3wop7mzlm.cloudfront.net/meetgather/html/earth.svg" /><span
                class="lang"
                key="i18n"
              ></span
            ></span>
            <span class="alarm opc">
              <img
                src="https://d3i2i3wop7mzlm.cloudfront.net/meetgather/html/alarm.svg"
            /></span>
            <span class="notice"></span>
            <span class="shot opc"><img referrerpolicy="no-referrer" /></span>
          </div>
          <div class="myinfo" style="display: none">
            <div>
              <div class="create opc">
                <a href="/create" class="lang" key="create"></a>
              </div>
              <div class="myprofile opc">
                <a class="lang" key="profile"></a>
              </div>
              <div class="logoutA opc lang" key="logout"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="floatRight">
      <div class="noticeBlock">
        <div class="rowbox">
          <div class="head">
            <span class="lang" key="notification"></span><span>×</span>
          </div>
          <div class="tail"></div>
        </div>
        <div style="height: 10px"></div>
      </div>
    </div>

    <div class="modal11">
      <div class="_2head">
        <span class="lang" key="notification"></span><span>×</span>
      </div>
      <div class="_2tail"><div class="rowbox"></div></div>
    </div>

    <div class="wrapper">
      <div class="content">
        <div class="box2">
          <div class="slogan_en">Enrich your life</div>
          <div class="slogan_cn">
            <div>多彩體驗</div>
            <div>豐富生活</div>
          </div>
          <div class="searchBar">
            <a href="/find"><div class="lang" key="search"></div></a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div>© COPYRIGHT<span class="year"></span>PamelaLin</div>
    </div>

    <script type="text/javascript" src="/static/js/index.js"></script>
  </body>
</html>
